{% extends 'base.html.twig' %}

{% block title %}Ivalid Token{% endblock %}

{% block body %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}